{% extends 'base.html' %}
{% load humanize %}
{% block main %}
<div class="container text-break pb-5">
    <h3>Feedbacks ({{commentcount}}) | Answered ({{answercount}})</h3>
    <form method='Post'>
        {% csrf_token %}
        <div class="form-group mb-2" style="max-width: 500px;">
            <input required name="name" type="text" class="form-control my-2" placeholder="Your Name">
            {% comment %} <input required name="email" type="email" class="form-control my-2" placeholder="Your Email"> {% endcomment %}
            <textarea class="form-control my-2" name="comment" rows="3" placeholder="Write your query here"
                required></textarea>
        </div>
        <input class="btn btn-primary btn-sm mb-4" type="submit" value="submit">
    </form>

    {% for comment in comments %}
    {% if not comment.parent %}
    <div style='border:1px solid #ced4da; border-radius:5px;' class="media py-3 p-2 px-3">
        <div class="media-body">
            {% if comment.user.is_superuser %}
            <h5 class="my-0">{{comment.user.username}} <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-award-fill"
                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M8 0l1.669.864 1.858.282.842 1.68 1.337 1.32L13.4 6l.306 1.854-1.337 1.32-.842 1.68-1.858.282L8 12l-1.669-.864-1.858-.282-.842-1.68-1.337-1.32L2.6 6l-.306-1.854 1.337-1.32.842-1.68L6.331.864 8 0z" />
                    <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z" />
                </svg></h5>
            {% else %}
            <h5 class="my-0">{{comment.name}}</h5>
            {% endif %}
            <small style="color: wheat;">{{comment.created_on | naturaltime}}</small><br>
            <p class="mb-2">{{comment.text}}</p>
            {% if comment.comment_set.all %}
            <button class="btn btn-sm btn-success" type="button" data-toggle="collapse"
                data-target=".multi-collapse-{{comment.id}}" aria-expanded="false"
                aria-controls="collapse{{comment.id}}">({{comment.comment_set.all.count}}) replies</button>
            {% endif %}
            <a class="btn btn-sm btn-success" href="#collapse-form-{{comment.id}}" data-toggle="collapse"
                aria-expanded="false" aria-controls="collapse{{comment.id}}"><i class="fa fa-reply"
                    aria-hidden="true"></i> Reply</a>

            <div class="collapse multi-collapse-{{comment.id}}" id="collapse{{comment.id}}">
                {% for child_comment in comment.comment_set.all %}
                <div class="media mt-3 ml-5">
                    <div class="media-body">
                        {% if child_comment.user.is_superuser %}
                        <h6 class="my-0">{{child_comment.user.username}} <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-award-fill"
                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M8 0l1.669.864 1.858.282.842 1.68 1.337 1.32L13.4 6l.306 1.854-1.337 1.32-.842 1.68-1.858.282L8 12l-1.669-.864-1.858-.282-.842-1.68-1.337-1.32L2.6 6l-.306-1.854 1.337-1.32.842-1.68L6.331.864 8 0z" />
                                <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z" />
                            </svg></h6>
                        {% else %}
                        <h6 class="my-0">{{child_comment.name}}</h6>
                        {% endif %}
                        <small style="color: wheat;">{{child_comment.created_on | naturaltime}}</small><br>
                        <p class="mb-2">{{child_comment.text}}</p>
                    </div>
                </div>
                {% endfor %}
                <hr>
            </div>
            <div class="collapse multi-collapse-{{comment.id}}" id="collapse-form-{{comment.id}}">
                <form method='Post'>
                    {% csrf_token %}
                    <div class="form-group mb-2" style="max-width: 500px;">
                        <input id="comment-{{comment.id}}" required name="name" type="text" class="form-control my-2"
                            placeholder="Your Name">
                        {% comment %} <input required name="email" type="email" class="form-control my-2" placeholder="Your Email"> {% endcomment %}
                        <textarea class="form-control" name="comment" rows="2" placeholder="Reply to this query"
                            required></textarea>
                    </div>
                    <input type="hidden" name="id" value={{comment.id}}>
                    <input class="btn btn-sm btn-dark mb-2 ml-2" type="submit" value="Reply">
                </form>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endblock main %}